<h1> Log In </h1>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="JonSnow">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Your password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
