<h2>Signup</h2>

<form action="/signup" method="post" id="form-container">
  <div>
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" name="firstName" placeholder="Jon">
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" name="lastName" placeholder="Snow">
  </div>

  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
  </div>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
