<h1> <%= name %> </h1>

<p>
  Would you care for some
  <% if (age >= 21) { %>
    mojitos?
  <% } else { %>
    juice?
  <% } %>
</p>

<h2> Places I've Been </h2>
<% citiesTraveled.forEach((cityName) => { %>
  <div class="city">
    <%= cityName %>
  </div>
<% }); %>

<h2> Favorite Foods </h2>
<ul>
  <% faveFoods.forEach((foodItem) => { %>
    <li>
      <%= foodItem.name %>
      Calories from this food are <%= foodItem.calories %>
    </li>
  <% }) %>
</ul>
