<h1> Hugh Jackman </h1>

<img src="/images/jackman.gif">

<p>
  Hugh Jackman is a rugged Australian man.
  He was born on October 12, 1968.
</p>

<p>
  Hugh Jackman is <%= age %> years old.
  His birthday is in <%= months %> months.
</p>
