<h1> Hello, world! </h1>

<h2> <%= todaysMessage %> </h2>

<img src="/images/cool-cat.jpg">


<form action="/user-data">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">

  <input type="submit" value="Save Name">
</form>
