<h1> Log In </h1>

<form action="/login" method="post">
  <label for="email-input"> Email </label>
  <input id="email-input" type="text" name="email">

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="password">

  <button type="submit">
    Log In
  </button>
</form>
