body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.success {
  background-color: lightgreen;
  color: white;
  padding: 20px;
}

.error {
  background-color: red;
  color: white;
  padding: 20px;
}
