<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Express App </title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/hello"> Say Hello </a> </li>
      </ul>
    </nav>

    <%- body -%>

    <footer>
      <p> Made with &hearts; at Ironhack </p>
    </footer>
  </body>
</html>
