<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Express App </title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/hello"> Say Hello </a> </li>
        <li> <a href="/hugh"> Hugh Jackman </a> </li>
      </ul>
    </nav>

    <form action="/search-spotify" method="get">
      <label for="search-term-input"> Search Term: </label>
      <input id="search-term-input" type="search" name="searchTerm">

      <button type="submit"> Search </button>
    </form>

    <%- body -%>

    <footer>
      <p> Made with &hearts; at Ironhack </p>
    </footer>
  </body>
</html>
