<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if (successMessage.length > 0) { %>
  <p class="success"> <%= successMessage %> </p>
<% } %>

<% if (userInfo) { %>
  <p> Welcome, <%= userInfo.firstName %>. </p>
<% } %>

<ul>
  <% if (userInfo) { %>
    <li> <a href="/secret">Secret</a> </li>
    <li> <a href="/kgb-files">KGB Files</a> </li>
    <li> <a href="/logout">Log Out</a> </li>
  <% } else { %>
    <li> <a href="/signup">Sign Up</a> </li>
    <li> <a href="/login">Log In</a> </li>
  <% } %>
</ul>
