<h1> Add New Room </h1>

<% if (message.length > 0) { %>
  <p class="success"> <%= message %> </p>
<% } %>

<form action="/rooms" method="post">
  <div>
    <label for="name-input"> Name </label>
    <input id="name-input" type="text" name="name">
  </div>

  <div>
    <label for="desc-input"> Description </label>
    <input id="desc-input" type="text" name="desc">
  </div>

  <button> Add Room </button>
</form>
